Language tags in TRC description (RFC 5198) and UTF-8 normalization

From Alexey Melnikov: 

3.2.10. description

    The description field contains a UTF-8 encoded string that describes
    the ISD. It SHOULD NOT be empty. The description MUST be in English
    and MAY additionally contain information in other languages.

If information in other languages is conveyed, it should be tagged with language tags in some form, see RFC 5646.

Also, if one suggests using UTF-8 for human readable text, one should generally use (reference) something like RFC 5198.

Key questions here are two: 
1.  Do we want to prescribe that UTF-8 text MUST be normalized according to [RFC5198](https://www.rfc-editor.org/rfc/rfc5198.html#section-3)? 
This essentially ensures that text appearing identical to the human eye is also identical on a byte level, since UTF-8 has several identical looking characters. This could be important for crypto operations, but I'm not sure we ever use the description field for anything.   According to gemini, in scionproto we use `encoding/asn1` which does not normalize text according to RFC5198. 
2. Do we want to encourage (SHOULD) use of language tags according to RFC5646 ?  We don't use them.
Older versions of the SSFN TRC did not use language tags and were NOT in English, ut text was already UTF-8 encoded: 
e.g.
SSHN has various languages, but without tags:
```
“Die ISD 72 bildet die Grundlage für den HVR, den HIN Vertrauensraum. Der HVR ist ein für den Gesundheitsmarkt Schweiz bereitgestelltes, eigenständiges Kommunikationsnetzwerk, welches Gesundheitsfachpersonen, administrativen und technischen Hilfspersonen und deren Einrichtungen, medizinische und administrative Applikations- / Serviceanbieter /-Provider des Gesundheits- und Sozialwesens sowie Kostenträgern (“HVR Nutzer”) erlaubt, unter Reduktion der Cyberrisiken des Internet in einem geschützten System sicher untereinander zu kommunizieren, ohne dass diese bei demselben Telekommunikationsanbieter angeschlossen sein müssen. L'ISD 72 constitue la base du HVR, l’Espace de Confiance HIN. Le HVR est un réseau de communication autonome mis à la disposition du marché suisse de la santé. Il permet aux professionnels de la santé, aux auxiliaires administratifs et techniques et à leurs institutions, aux fournisseurs d'applications / de services / d'administration médicaux et sociaux ainsi qu'aux organismes payeurs ("utilisateurs de l’HVR") de communiquer entre eux de manière sécurisée dans un système protégé, en réduisant les cyber-risques d'Internet, sans devoir être raccordés au même fournisseur de télécommunications. L'ISD 72 costituisce la base della HVR, lo spazio della fiducia HIN. L’HVR è una rete di comunicazione indipendente messa a disposizione del mercato sanitario svizzero, che consente agli operatori sanitari, al personale amministrativo e di supporto tecnico e alle loro strutture, ai fornitori di applicazioni/servizi medici e amministrativi del settore sanitario e sociale, nonché ai sostenitori dei costi ("utenti HVR") di comunicare in modo sicuro tra loro in un sistema protetto, riducendo i rischi informatici di Internet, senza dover essere collegati allo stesso fornitore di telecomunicazioni. ISD 72 forms the basis of the HVR, the HIN Trust Space. The HVR is a stand-alone communication network provided for the Swiss healthcare market, which allows healthcare professionals, administrative and technical support staff and their facilities, medical and administrative application/service providers/providers of the healthcare and social sector as well as payers ("HVR Users") to communicate securely with each other in a protected system while reducing the cyber risks of the Internet, without having to be connected to the same telecommunications provider. ”
```


P.S. scionproto also seems to mention UTF-8 encoding [here](https://github.com/scionproto/scion/blob/368ef5973c7909d126902dc626c0530a0573e71d/pkg/scrypto/cppki/trc_asn1.go#L50), but I'm not sure if this is actually used: 
```
Description       string          `asn1:"description,utf8"`
```

[Slack discussion](https://scionproto.slack.com/archives/C8ADA9CEP/p1777543129435299)

 

Discussion with reviewer: 

>> - Language tags: they would help, we already have some TRCs containing multi-language text, but without tags. They could be a SHOULD in the draft. Future TRCs could be aligned in the next TRC update.

> Ok. If you add a SHOULD you should also describe where/how the language tag is included. I assume you don't want to modify the ASN.1 structure to add a new field for it?

>> - RFC 5198: are you talking, for example, about normalization (section 3 of RFC5918)?

>That and also that RFC 5198 restricts valid sequences of characters. So a recipient can potentially reject UTF-8 which doesn't conform to a more restricted subset specified in RFC 5198.

Leaving it open waiting for testing in https://github.com/scionproto/scion/pull/4927